/* ABOUT STYLES */
.about {
  padding-bottom: 2rem;

  &__bio-image {
    height: 50vh;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.6),
        rgba($primary-color, 0.6)
      ),
      url("../../img/juanmanPortfolioHero2.jpg") center top, no-repeat;
    background-size: cover;

    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    p {
      margin-bottom: 2rem;
    }
  }

  &__bio {
    width: 80%;
    text-align: center;

    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &__job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;

      h2 {
        margin: 0.5rem 0;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }
}
.about-footer {
  transform: rotate(-90deg) translate(1rem, 2rem);
}
