/* HOME STYLES */
.home {
  width: 100%;
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 1;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
.img {
  height: 100%;
  padding-top: 40vh;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.6),
      rgba($primary-color, 0.6)
    ),
    url("../../img/juanman\ portfolio\ hero\ image.jpg") center top;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}
